<li class="list-group-item"> 
    <p>
        <%= message.username %>
    </p> 
    <p>
        <%= message.text %>
    </p>
    <a href="/<%= message.username %>" class="btn btn-primary btn-sm">Details</a>
    <a href="/<%= message.id %>/delete" class="btn btn-danager btn-sm">delete</a>
</li>