<li class="list-group-item"> 
    <p>
        <%= message.user %>
    </p> 
    <p>
        <%= message.text %>
    </p>
    <a href="/<%= message.user %>" class="btn btn-primary btn-sm">Details</a>
</li>